<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HISTORY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list *ngFor="let item of historydata let i = index">
      <ion-item>
        <div class="aligndiv">
        <div>
          {{item.Fname}}
        </div>
        <div> {{item.Total}} %
          <ion-icon ios="ios-heart" md="md-heart" class="icons"></ion-icon>
        </div>
        <div> {{item.Sname}}</div>
        <div>
          <ion-icon ios="ios-trash" md="md-trash" (click)="deletedata(i)"></ion-icon>
        </div>
        </div>
        

        <div>{{item.from}}</div>

      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>