<ion-header>
  <ion-toolbar>
    <ion-title>Share</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button color="primary" expand="full" (click)="ShareOnTwitter()">Share On Twitter</ion-button>
<ion-button color="warning"expand="full" (click)="SharebyEmail()">Share by Email</ion-button>
<ion-button color="secondary" expand="full" (click)="ShareOnFacebook()">Share On Facebook</ion-button>
<ion-button color="success" expand="full" (click)="SharewithWhatsApp()">Share with WhatsApp</ion-button>

</ion-content>
