<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Share</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success" (click)="SharewithWhatsApp()">share on whatsapp</ion-button>
  <ion-button color="tertiary" (click)="ShareOnFacebook()">share on facebook</ion-button>
  <ion-button color="light" (click)="ShareOnTwitter()">share on twitter</ion-button>
  <ion-button color="medium" (click)="SharebyEmail()">share on email</ion-button>
  <div class="backbutton">
    <ion-button color="warning" (click)="goback()">back</ion-button>
    <ion-button color="danger" (click)="closefunction()">close</ion-button>
  </div>
</ion-content>