.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.toolbar-background{
  --background-color: chocolate;
   --font-style: oblique;
    --font-family: cursive;
}
.sc-ion-card-md-h {
  
  -webkit-margin-start: 10px;
  margin-inline-start: 10px;
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  background-color: pink;
  padding: 0 0 57% 0 !important;
  width: 94% !important;
  height: 0 !important;
}
.card-content-md h3{
 font-size: 27px;
    font-weight: 400;
    margin-top: 97px;
    margin-left: 55px;
    font-family: cursive;
    color: red;

}


